doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/css/buttons.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
  body(style='background-image: url(/img/' + background + ');')
    nav
      span.left-button
        a.button.glow(href='/') Home
      span
        a.button.glow(href='/about') About
      span
        a.button.glow(href='/contact') Contact
      span
        a.button.glow(href='/pets') Pets
      span
        h1.head Pet Factory

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/source/main.js')

    block scripts
